
header nav{
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-around;
}
header nav ul{
  display: flex;
  gap: 15vw;
  padding: 10px;
  
}
header nav ul li{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.icones{
  width: 4vw;
}
@media screen and (max-width:600px){
  header{
    width: 100vw;
    font-size: 14px;
    align-items: center;
  }
  header nav{
    flex-direction:column;
    text-align: center;
  }
  .icones{
    width: 10vw;
  }
  
}
@media screen and (max-width:400px){
  header nav ul{
    gap:6px;
    width: 100vw;
    font-size: 10px;
  }

}