main{
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 40px;
  justify-items: center;
  justify-content: space-around;
  margin: 20px;
  border: solid #d8d8d8 2px;
  border-radius: 5px;
}
.pagamento_boleto{
  display: flex;
  padding: 15px;
  align-items: center;
  flex-direction: column;
  width: 50%;
  gap: 10vh;
}
.pagamento_boleto .texto_importante li{
  margin: 15px;
}
.conteudo_boleto{
  background: #F1F1F1;
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 25px;
  gap: 3vh;
  border-radius: 5px;
}
.conteudo_boleto img{
  width: 150px;
}
.conteudo_boleto button{
  border-radius: 5px;
  border: solid 1px #696868;
  display: flex;
  align-items: center;
  height: 5vh;
  gap: 5px;
}
.conteudo_boleto button img{
  width: 20px;
}

/* Resumo do pedido*/
.resumo_pedido{
  width: 25vw;
 text-align: center;
 
}
.titulo_resumo{
  color: #4D4C4C;
  font-weight: bolder;
}
.resumo_pedido .produto{
  display: flex;
  padding: 20px;
  text-align: left;
  gap: 12px;
  color:#737E86;
}
.resumo_pedido .produto img{
  width: 10vw;
  border-radius: 20px;
}

.produto .nome_produto{
  color: #737E86;
  font-weight: bolder;
}
.itens_conta{
  display: flex;
  flex-direction: row;
  gap: 12vw;
  justify-content: center;
  text-align: left;
}

.itens{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 8vh;
}
.resumo_pedido p{
  margin: 25px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius:14px ;
  font-weight: 600;
  padding: 15px;
  color: white;
  background: #5CBFA3;
  cursor: pointer;
}
.resumo_pedido a:hover{
  background: #154A3B;
}

@media screen and (max-width:600px){
  main{
    flex-direction: column;
  }
  .pagamento_boleto{
    width: auto;
  }
  .resumo_pedido{
    width: auto;
  }
  .resumo_pedido .produto img{
    width: 20vw;
  }
}