.title-profile {
  margin-left: 9.125rem;
  margin-top: 2.787rem;
  font-weight: bold;
  font-size: 2.188rem;
}

.photo-button-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.photo-button-profile img {
  margin-top: 2rem;
  margin-bottom: 4.25rem;
  border: solid 2px #154A3B;
  border-radius: 11.406rem;
  width: 22.813rem;
  height: 22.813rem;
}

.button-profile {
  display: flex;
  gap: 2rem;
}

.button-profile input {
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-color: #33AF8C;
  border: solid 2px #33AF8C;
  border-radius: 0.625rem;
  color: #ffffff;
  background-color: #33AF8C;
  transform: scale(1);
  transition: transform 500ms;
}

.button-profile input:hover, .input-div img:hover {
  transform: scale(1.1);
  transition: 500ms; 
}

.button-profile input:active, .input-div img:active  {
  transform: scale(.9);
  transition: 250ms;
}

.information-profile {
  margin: 3rem 9rem 8rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6.25rem;
  grid-row-gap: 3.75rem;
}

.input-div {
  border: solid 3px #808080;
  border-radius: .625rem;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 1rem;
}

.input-div input {
  font-size: 1.5rem;
  color: var(--preto);
  background-color: transparent;
  border: none;
  flex-grow: 1;
}

.input-div img {
  width: 1.875rem;
  height: 1.75rem;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}