main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-item-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 74rem;
    column-gap: 2.375rem;
    margin: 5rem 0;
    background-color: #f8fcfc;
    padding: 2rem 1rem;
    border-radius: .625rem;
    border: 3px solid #85BDB4;
}

.img-div {
    width: 36.25rem;
}

.img-div img {
    display: block;
    width: 100%;
    border-radius: .625rem;
}

.main-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1rem;    
}

.main-item-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-item-title {
    font-size: 2rem;
    font-weight: bold;
    color: #154A3B;
}

.main-item-desc {
    font-size: 1.5rem;
}

.main-item-price {
    font-size: 3rem;
    font-weight: bold;
    color: #737E86; 
    text-align: end;
}

.main-item-data {
    display: flex;
    gap: 2.875rem;
}

.buy-button, .shopping-cart-button {
    display: flex;
    align-items: center;
    gap: .8rem;
    border: none;
    border-radius: .625rem;
    color: var(--branco);
    background-color: #3A9595;
    font-size: 1.25rem;
    padding: .75rem 1.625rem;
    cursor: pointer;
}

.buy-button:hover, .shopping-cart-button:hover {
    transform: scale(1.1);
    transition: 250ms;
}

.buy-button:active, .shopping-cart-button:active {
    transform: scale(.9);
    transition: 50ms;
}

@media screen and (max-width: 480px) {

    .main-item-header {
        grid-template-columns: 25rem;
        width: auto;
        margin: 3rem 0 2rem;
        padding: 0;
        gap: 2rem;
    }

    .main-item-desc {
        font-size: 1rem;
    }

    .main-item-price {
        align-self: flex-end;
        margin: 0 1rem 1.5rem 0;
    }

    .main-item-data {
        justify-content: center;
    }

    .img-div {
        width: auto;
    }

}